<form action="/admin" method="post">
    <input type="text" name="halaman">
    <input type="text" name="judul">
    <input type="text" name="bagian">
    <button type="submit">Input</button>
</form>