<div class="footer">
    <div class="foot tentang-kami">
        <h3> SMAN 3 </h3>
        <p class="links">SMAN 3 Bulukumba yang berada dilokasi Tanah beru kecamatan Bontobahari, yang didirikan dengan tujuan menampung anak anak yang ingin bersekolah dilanjutan atas.</p>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>
    <div class="foot kontak-kami">
        <h3>Kontak Kami</h3>
        <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
        <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
        <a href="#" class="links"> <i class="fas fa-envelope"></i> sman3bulukumba@gmail.com </a>
        <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bulukumba, Sulawesi Selatan - 192553 </a>
    
    </div>
    <div class="foot quick-links">
            <h3>QuicK Link</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="sejarah" class="links"> <i class="fas fa-arrow-right"></i> Sejarah </a>
            <a href="visimisi" class="links"> <i class="fas fa-arrow-right"></i> Visi Misi </a>
            <a href="tatatertib" class="links"> <i class="fas fa-arrow-right"></i> Tata Tertib </a>
            <a href="struktur" class="links"> <i class="fas fa-arrow-right"></i> Struktur Sekolah </a>
    </div>
    <div class="foot statistik">
        <h3>Statistik Pengunjung</h3>
    </div>
</div>
<div class="copyright">&copy Copyright : Sman3bulukumba.com</div>
<!-- </div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
<!-- custom js file link  -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
<script src="js/utama.js"></script>
</body>
</html>
