<form action="/input" method="post" enctype="multipart/form-data">
    <input type="file" name="gambar">
    <input type="text" name="title">
    <input type="text" name="isi">
    <button type="submit">Input</button>
</form>