<div class="inputdata">
    <form action="/admin-sect" method="post">
        <% var i = 0 %> 
        <% array.forEach(element => { %>
        <input type="hidden" name="halaman" value="<%- element["id"] %>">
        <input type="hidden" name="title" value="<%- element["title"] %>">  
        <div class="inputisi">
            <label for="bagian"><b> isi Content : </b></label>
            <textarea class="update" type="text" name="bagian" value=""><%- element["content"] %></textarea>        
        </div>  
        <% i++ %>      
        <% }); %> 
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>